.gallery{
  .bordered{
    box-sizing:border-box;
    // border-left:2px solid #fff;
  }
  .container{
    box-shadow:0px 2px 4px $gray;
  }

  .visual {
    background-color:$gray;
    color:#fff;
    text-align:center;
    margin: 0 3%;
    text-shadow: 1px 0px 2px #000;
    border-radius:3px;
    cursor:pointer;
    transition:all .9s ease 0s;
    &:hover{
      background-color:$main-orange !important;
      background-size: 70% !important;
    }
  }

  #ordinacija{
    @include gallery-sections('../img/xray.png', 60%);
    @include breakpoint(lg){
      background-position-y:2em;
    }
  }

  #xray {
    @include gallery-sections('../img/lisaann.png', 60%)
  }
  
  #sphere{
    @include gallery-sections('../img/sphere.png', 60%)
  }
}