.mobile-header {
  padding:1em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom:4px solid $main-orange;
  background-color:#fff;
  display:block;
  @include breakpoint(sm) {
    display:none !important;
  }


  .logo-container-mb{
    img{
      width:5em;
    }
  }
  .menu-container{
    font-size:2em;
    color:$gray;
    &:hover{
      background-color:$gray;
      color:#fff;
      cursor:pointer;
    }
  }

  .select-drop{
    display:none;
    ul{
      display:block;
      margin:0;
      width:100%;
      padding:0;
      list-style-type: none;
      li {
        display:block;
        text-align:center;
        &:hover {
          background-color:rgb(199, 195, 195);
        }
        a {
          display:block;
          padding:5px 0;
          color:#000;
          @extend %not-link; 
        }
      }
    }
  }
}