div#360modal {
  .modal-content {
    padding: 7px !important;
    padding-bottom:0 !important;
  }
  .spheric{
    overflow: hidden;
  }
  .controls-custom{
    position:absolute;
    color:#fff;
  }

  #right{
    position: absolute;
    top: 4.6em;
    right: 17px;
    font-size: 2em;
    color:#fff;
  }

  #left{
    position: absolute;
    top: 4.6em;
    left: 17px;
    font-size: 2em;
    color:#fff;
  }
}