div.rengen{
  .back{
    background-image:url('../img/ispravka.jpg');
    background-repeat: no-repeat;
    background-color:#e8e8e8;
    // background-size: 100%;
    // background-position-x: 3em;
    @include breakpoint(xs){
      background-size: 74%;
      background-position-x: 3em;
    }
   
    .block-custom{
      float:right;
      width:100%;
      overflow:hidden;
      iframe{
        border:8px solid #fff;
        border-radius:5px;
      }
    }

    .bulevar-front{
      padding: 3em 0;
      @include breakpoint(xs){
        padding-top: 35em;
      }
      h3{
        text-decoration:underline;
        span{
          color:$main-orange !important;
        }
      }
    }
  }
}