div.rengen{
  .back{
    background-image:url('../img/ispravka.jpg');
    background-repeat: no-repeat;
    background-color:#e8e8e8;
    .block-custom{
      float:right;
      border:8px solid #fff;
      border-radius:5px;
      width:100%;
      overflow:hidden;
    }

    .bulevar-front{
      padding: 3em 0;
      @include breakpoint(xs){
        padding-top: 35em;
      }
    }
  }
}