doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='icon', type='icon', href='favicon.ico', sizes='16x16')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicons/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicons/favicon-16x16.png')
  link(rel='manifest', href='img/favicons/site.webmanifest')
  link(rel='mask-icon', href='img/favicons/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/all.css', integrity='sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S', crossorigin='anonymous')
  title Bulevar 3DX
// Header section START
header
  .container
    nav.row
      ul.col-xl-8.col-lg-10.col-md-12.p-0.m-auto.d-flex.align-items-center.justify-content-between
        li
          a(href='#about') O NAMA
        li
          a(href='#services') USLUGE
        li
          a#logo-container(href='')
            img(src='img/logo.svg', alt='Company Logo')
        li
          a(href='#gallery') GALERIJA
        li
          a(href='#form') KONTAKT
// Header section END
// Mobile Responseive Header START
.mobile-header
  .container-fluid
    .row.align-items-center
      .col-auto.mr-auto.logo-container-mb
        img(src='img/logo.svg', alt='Company Logo')
      .col-auto.menu-container
        i.fas.fa-bars
    .row.select-drop
      ul
        li
          a(href='#about') O Nama
        li
          a(href='#services') Usluge
        li
          a(href='#gallery') Galerija
        li
          a(href='#form') Kontakt
// Mobile REsponsive Header END
// Social Media START
.social-block
  #instagram.social
    i.fab.fa-instagram
  #fb.social
    i.fab.fa-facebook
// Social Media END
// Slider section START
main#desktop-slider
  .container-fluid
    .row
      #slider.carousel.slide.col.p-0(data-ride='carousel')
        // Indicators
        //
          <ul class="carousel-indicators justify-content-center">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          </ul>
        // The slideshow
        .carousel-inner
          .carousel-item.active
            img.w-100(src='img/slider/1-slider.jpg', alt='Los Angeles')
            .captions.row
              .col-4.align-self-center
                img(src='img/logo.svg', alt='')
              .col-8
                h5 Vas Osmeh je nasa odgovornost
                p Nas tim je tu da vam ponudi najbolju mogucu oralnu higijenu
          .carousel-item
            img.w-100(src='img/slider/2-slider.jpg', alt='Los Angeles')
            .captions.row
              .col-4.align-self-center
                img(src='img/logo.svg', alt='')
              .col-8
                h3 New Caption
                p Lorem ipsum dolor......
          .carousel-item
            img.w-100(src='img/slider/3-slider.jpg', alt='Los Angeles')
            .captions.row
              .col-4.align-self-center
                img(src='img/logo.svg', alt='')
              .col-8
                h3 New Caption
                p Lorem ipsum dolor......
          .carousel-item
            img.w-100(src='img/slider/4-slider.jpg', alt='Los Angeles')
            .captions.row
              .col-4.row.align-self-center
                img(src='img/logo.svg', alt='')
              .col-8
                h3 New Caption
                p Lorem ipsum dolor......
          .carousel-item
            img.w-100(src='img/slider/5-slider.jpg', alt='Los Angeles')
            .captions.row
              .col-4
                img(src='img/logo.svg', alt='')
              .col-8
                h3 New Caption
                p Lorem ipsum dolor......
        // Left and right controls
        a.carousel-control-prev(href='#slider', data-slide='prev')
          span.carousel-control-prev-icon
        a.carousel-control-next(href='#slider', data-slide='next')
          span.carousel-control-next-icon
// Slider section END
main#phone-slider
  .container-fluid
    .row
      #slider.carousel.slide.col.p-0(data-ride='carousel')
        // Indicators
        //
          <ul class="carousel-indicators justify-content-center">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          </ul>
        // The slideshow
        .carousel-inner
          .carousel-item.active
            img.w-100(src='http://via.placeholder.com/520x480', alt='Los Angeles')
          .carousel-item
            img.w-100(src='http://via.placeholder.com/520x480', alt='Chicago')
          .carousel-item
            img.w-100(src='http://via.placeholder.com/520x480', alt='New York')
        // Left and right controls
        a.carousel-control-prev(href='#slider', data-slide='prev')
          span.carousel-control-prev-icon
        a.carousel-control-next(href='#slider', data-slide='next')
          span.carousel-control-next-icon
// Section Banner START
section#banner
  .container
    .row
      .col-4.row.m-0.banner-box
        .col-4.icon-section
          i.fas.fa-location-arrow
        .col-8
          h5.banner-txt Mozete nas naci:
          p.banner-txt ul Sabana Koce BB
          p.banner-txt Novi Pazar
      .col-4.row.m-0.middle.banner-box
        .col-4.icon-section
          i.fas.fa-clock
        .col-8
          h5.banner-txt Dostupni smo:
          p.banner-txt Pon - Pet: 8 - 20h
          p.banner-txt Subotom: 9 - 14h
      .col-4.row.m-0.banner-box
        .col-4.icon-section
          i.fas.fa-phone
        .col-8
          h5.banner-txt Kontaktirajte nas:
          p.banner-txt 065/4261211
          p.banner-txt 065/4261211
// Section Banner END
// Section About us START
section
  #about.container
    .row
      .col-12.row.m-0.d-flex.align-items-center.order-1.order-md-1
        .col-5.pr-0
          hr
        .col.px-0.heading
          img(src='img/sekcije.svg', alt='')
        .col-5.pl-0
          hr
      .col-12.order-2.order-md-2
        h2.text-center.text-xs-center O nama
      .col-xs-6.col-sm-6.d-flex.align-items-center.order-4.order-sm-4.order-md-4
        div
          h3.text-left.text-xs-center Bulevar 3D
          p.text-justify
            | Bulevar 3D je najsavremeniji digitalni centar snimanja zuba i regije glave sa minimalnom dozom zracenja. Tehnoloski najnaprednija
            | oprema za snimanje zuba omogucava snimke visokog dijagnostickog kvaliteta uz najmanju mogucu dozu zracenja
            | za pacijenta.
      .col-xs-6.col-sm-6.order-3.order-sm-4.order-md-4
        img(src='img/njih-troje.svg', alt='')
      .col-xs-6.col-sm-6.order-5.order-md-5
        img(src='img/zubici.svg', alt='', style='-webkit-transform: scaleX(-1);transform: scaleX(-1);')
      .col-xs-6.col-sm-6.d-flex.align-items-center.order-6.order-md-6
        div
          h3.text-right Najbolja usluga
          p.text-justify
            | Zahvaljujuci sistemu CRANEX 3Dx, predstavljamo Vam PRVI 3D CBCT rendgen za snimanje zuba u Srbiji sa velikim 3D vidnim poljima
            | koji omogucuje 3D radiografiju sa opcijom MINIDOSE minimalne doze zracenja pacijenata.
// Section About us END
// Section Services START
.services
  #services.container
    .col-12.row.m-0.d-flex.align-items-center
      .col-5.pr-0
        hr.white-border
      .col.px-0.heading
        img(src='img/sekcije.svg', alt='')
      .col-5.pl-0
        hr.white-border
    .row.m-0
      .col-12
        h2.col-12.text-center USLUGE
        p.text-center.white Mi smo najbolji na dunja, samo kod nas da dolazite
      .col-12.row.px-0.m-0.shadow-div
        .col-6.px-0.first-service
          // <img src="img/Usluge/1.jpg" class="w-100" alt="">
        .col-6.px-0.service.d-flex.align-items-center.py-0.py-md-5
          .px-2.px-sm-3.px-md-5.py-2.py-md-5
            h4.text-center
              span RETROALVEOLARNO SNIMANJE
            p.text-justify.text-md-center
              | Retroalveolarno snimanje je procedura u kojoj se na snimku velicine 3x4cm dobija jedan do tri zuba u zavisnosti od njihove
              | velicine
            p.text-center.mb-0
              button.btn.btn-default.m-auto Saznaj Vise
        .col-6.px-0.service.d-flex.align-items-center.py-0.py-md-5
          .px-2.px-sm-3.px-md-5.py-2.py-md-5
            h4.text-center
              span ORTOPANTOMOGRAM
            p.text-justify.text-md-center
              | Ortopantomogram ili ortopan je snimanje svih zuba, obe vilice sa temporomandibularnim zglobom, mandibularnim kanalom i maksilarnim
              | sinusima.
            p.text-center.mb-0
              button.btn.btn-default.m-auto Saznaj Vise
        .col-6.px-0.second-service
          // <img src="img/Usluge/2.jpg" class="w-100" alt="">
        .col-6.px-0.third-service
          // <img src="img/Usluge/3.jpg" class="w-100" alt="">
        .col-6.px-0.service.d-flex.align-items-center
          .px-2.px-sm-3.px-md-5.py-2.py-md-5
            h4.text-center
              span PLANIRANJE IMPLANTATA PO REGIJI
            p.text-justify.text-md-center
              | Planiranje za postavljanje implantata tacno odredenog tipa i velicine na projektu 3D snimka
            p.text-center.mb-0
              button.btn.btn-default.m-auto Saznaj Vise
        .col-6.px-0.service.d-flex.align-items-center
          .px-2.px-sm-3.px-md-5.py-2.py-md-5
            h4.text-center
              span SKANOGRAM
            p.text-justify.text-md-center
              | Skanogram je snimak koji predstavlja samo deo oprtopantomograma za zeljeni deo vilice i koristi se kod pacijenata koji ne
              | podnose retroalveoralno snimanje.
            p.text-center.mb-0
              button.btn.btn-default.m-auto Saznaj Vise
        .col-6.px-0.fourth-service
          // <img src="img/4.jpg" class="w-100" alt="">
// Section Services END
// Section Rengen START
.rengen
  .container-fluid.back
    .container
      .row.justify-content-md-end
        .col-12.col-md-6.bulevar-front
          h3.text-lg-center.text-sm-right
            span Zasto bas mi
          p.text-sm-right
            | Ekipa, vrhunskih stru&ccaron;njaka uz najsavremeniju tehnologiju koja je zastupljena na dana&scaron;njem tr&zcaron;istu, da&cacute;e sve
            | od sebe da postigne &scaron;to bolje rezultate na va&scaron;em putu ka zdravim zubima, iskrenom osmehu i &zcaron;ivotu punom samopouzdanja.
          .block-custom
            script(src='https://360player.io/static/dist/scripts/embed.js', async='')
            iframe(src='https://360player.io/p/X82GTY/', frameborder='0', width='560', height='315', allowfullscreen='', data-token='X82GTY')
// Section Rengen END
// Gallery Section START
#gallery.gallery
  .container.py-5
    .row.m-0
      .col-12.row.m-0.d-flex.align-items-center
        .col-5.pr-0
          hr
        .col.px-0.heading
          img(src='img/sekcije.svg', alt='')
        .col-5.pl-0
          hr
      h2.col-12.text-center.py-6.pb-2 Galerija
      .col-12.row.m-0.gallery-wrapper.px-0
        .col-12.col-sm-6.px-xs-0.py-3.py-sm-0
          iframe(width='100%', height='100%', src='https://www.youtube.com/embed/BmVhmY59l8w?controls=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        .col-12.col-sm-6.row.m-0.pr-xs-0
          #ordinacija.col-12.visual
            a.d-none(href='img/1.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/1.jpg', alt='')
            a.d-none(href='img/2.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/2.jpg', alt='')
            a.d-none(href='img/3.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/3.jpg', alt='')
            a.d-none(href='img/4.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/4.jpg', alt='')
            a.d-none(href='img/5.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/5.jpg', alt='')
            a.d-none(href='img/6.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/6.jpg', alt='')
            a.d-none(href='img/7.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/7.jpg', alt='')
            a.d-none(href='img/8.jpg', data-lightbox='image-1', data-title='Ordinacija')
              img.w-100(src='img/ordinacija/8.jpg', alt='')
            |               Ordinacija
          #xray.col-12.visual
            a.d-none(href='img/1-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/1-snimak.jpg', alt='')
            a.d-none(href='img/2-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/2-snimak.jpg', alt='')
            a.d-none(href='img/3-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/3-snimak.jpg', alt='')
            a.d-none(href='img/4-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/4-snimak.jpg', alt='')
            a.d-none(href='img/5-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/5-snimak.jpg', alt='')
            a.d-none(href='img/6-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/6-snimak.jpg', alt='')
            a.d-none(href='img/7-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/7-snimak.jpg', alt='')
            a.d-none(href='img/8-snimak.jpg', data-lightbox='image-2', data-title='X Ray Records')
              img.w-100(src='img/snimci/8-snimak.jpg', alt='')
            |               Snimci
          #sphere.col-12.visual.mb-0(data-toggle='modal', data-target='#360modal')
            | 360&deg; Fotografije
// Gallery Section END
// Phone Section START
.number
  .container
    .row
      .col.align-self-center
        a.button(href='tel:+381628221017')
          i.fas.fa-phone.icon(style='-webkit-transform: scaleX(-1);transform: scaleX(-1);')
        span.phone
          | 062 822 1017
// Phone Section END
// Contact Form START
#form.contact-form
  .container
    .col-12.row.m-0.d-flex.align-items-center
      .col-5.pr-0
        hr
      .col.px-0.heading
        img(src='img/sekcije.svg', alt='')
      .col-5.pl-0
        hr
    .row
      h2.col-12.text-center Kontaktirajte Nas
    .row.mx-0.px-1
      form#contactForm(action="/mail.php" method="POST")
        .col-12.col-sm-8.row.mx-auto.form-custom
          .col-12.px-2
            p
              | Stupite u kontakt sa nama putem e-maila. Budite informisani o svim nasim uslugama
          .col-6.pl-2.pr-1
            input.form-control.custom-input(type='text', placeholder='Ime i Prezime', name='name', required='', data-msg='Unesite vase ime i prezime')
          .col-6.pr-2.pl-1
            input.form-control.custom-input(type='email', placeholder='Vas E-mail adresa', name='email', required='', data-msg='Unesite tacnu e-mail adresu')
          .col-12.px-2.py-2
            textarea.w-100(name='content', id='', rows='6')
          .col.px-2
            button.btn.btn-default.btn-block(type='submit') Posalji
// Contact Form END
// Map Section START
.map
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.478964807162!2d20.516591135386584!3d43.14203034929284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475628131c2661d5%3A0x30e067318b6ead2e!2sSebilj+Novi+Pazar!5e0!3m2!1sen!2smk!4v1521576182180', width='2000', height='300', frameborder='0', style='border:0', allowfullscreen='')
// Map Section END
// Footer
footer
  .container
    .row
      .col-sm-12.col-md-4.row.m-0.text-md-left.text-sm-center
        img.m-auto(src='img/logo.svg', alt='')
        .col-12
          p.m-0.text-center.text-md-left RADNI DANI: 08 - 20, SUBOTA: 09 - 15
          p.m-0.text-center.text-md-left SABANA KOCE BB, NOVI PAZAR 36300
      .col-4
      .col-md-4.d-md-block.d-none.text-right
        h4 Kontakt
        p Kontaktirajte nas putem telefona ili elektronske poste
        p
          i.fas.fa-phone
          span
            | 062 822 1017
        p
          i.fas.fa-phone
          span
            | 062 822 1017
        p
          i.fas.fa-envelope
          span
            | bulevar3dx@gmail.com
.footer-info
  .container.sub-footer
    p.clearfix.m-0.d-
      span.float-left.copyrights &copy; Daka Latte Design
      span.float-right.social
        i.fab.fa-instagram
        i.fab.fa-facebook
        i.fas.fa-envelope-square
// Footer END
#360modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='360modalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content(style='overflow:hidden;')
      #first.spheric
        iframe(src='https://360player.io/p/CRRJ3h/', frameborder='0', width='100%', height='auto', allowfullscreen='', data-token='CRRJ3h')
      #second.spheric
        iframe(src='https://360player.io/p/V9sUba/', frameborder='0', width='100%', height='auto', allowfullscreen='', data-token='V9sUba')
      #third.spheric
        iframe(src='https://360player.io/p/X82GTY/', frameborder='0', width='100%', height='auto', allowfullscreen='', data-token='X82GTY')
      a#right.controls-custom(href='')
        i.fas.fa-chevron-right
      a#left.controls-custom(href='')
        i.fas.fa-chevron-right
#myModal.modal.fade
.modal-dialog
  .modal-content
    // Modal Header
    #customHeaderModal.modal-header
      h4.modal-title.m-auto Obavestenje
      //- button.close(type="button" data-dismiss="modal") ×
    // Modal body
    #modalText.modal-body.text-center
      |
