%not-link{
  &:hover{
    text-decoration: none;
    color:inherit;
  }
}

.white-border{
  border-color:#fff;
}

.custom-input {
  border-radius: 0px !important;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin service($url){
  background:url($url);
  background-repeat: no-repeat;
  background-size:cover;
}


@mixin gallery-sections($url, $width){
  background:url($url);
  background-repeat: no-repeat;
  background-position: left;
  background-size: $width;
  padding-top:2em;
  padding-bottom: 10em;
  background-position: center bottom;
}

.twist{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}